<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Twitter</title>
    <link rel="stylesheet" type="text/css" href="https://assets.digitalocean.com/bui/latest/bui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://assets.digitalocean.com/bui/latest/bui.js"></script>
  </head>
  <body>
    <main class="bui-u-mt--large">
      <h1>Twitter</h1>
      <form action="/tweets" method="post" enctype="multipart/form-data">
        <input type="text" name="body"></input>
        <input type="file" name="photo"></input>
        <input type="submit" value="tweet"></input>
      </form>
      <table>
        <% for(var i=0; i < tweets.length; i++) { %>
          <tr>
            <td>@<%= tweets[i].username %></td>
            <td><%= tweets[i].body %></td>
            <% if (tweets[i].imagePath) { %>
              <td><img src="/photos/<%= tweets[i].imagePath %>" width='200' height='200'/></td>
            <% } %>
          </tr>
        <% } %>
      </table>
    </main>
    <div class="bui-u-hidden">
      @include('https://assets.digitalocean.com/bui/latest/bui-icons.svg')
    </div>
  </body>
</html>

